PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/medical_crm?retryWrites=true&w=majority
JWT_SECRET=change-this-to-a-long-random-string-in-production
NODE_ENV=development
